{% extends "layout.html" %}
{% block content %}
<br>
    <div class="container">
        <form action="" method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}

            <div class="form-group">
                <table>
                    <tr>
                        <th style="width:300px"> Scheme </th>
                        <th style="width:100px"> Eligible </th>
                        <th style="width:100px"> Received </th>
                        <th style="width:240px"> Benefits_Supporting_Party </th>
                        <th style="width:100px"> Benefits_Others </th>
<!--                        <th style="width:100px"> Difference </th>-->
                    </tr>
                    <tr>
                        <td> {{ form.scheme1.label }} </td>
                        <td> {{ form.scheme1}} </td>
                        <td> {{ form.scheme1_received}} </td>
                        <td id="score"> {{ form.scheme1_benefits}} </td>
                        <td id="benchmark"> {{ form.scheme1_benefits_other }} </td>
                        <td id="diff"></td>
                    </tr>
                    <tr>
                        <td> {{ form.scheme2.label }} </td>
                        <td> {{ form.scheme2}} </td>
                        <td> {{ form.scheme2_received}} </td>
                        <td> {{ form.scheme2_benefits}} </td>
                        <td> {{ form.scheme2_benefits_other }} </td>
                    </tr>
                    <tr>
                        <td> {{ form.scheme3.label }} </td>
                        <td> {{ form.scheme3}} </td>
                        <td> {{ form.scheme3_received}} </td>
                        <td> {{ form.scheme3_benefits}} </td>
                        <td> {{ form.scheme3_benefits_other }} </td>
                    </tr>
                    <tr>
                        <td> {{ form.scheme4.label }} </td>
                        <td> {{ form.scheme4}} </td>
                        <td> {{ form.scheme4_received}} </td>
                        <td> {{ form.scheme4_benefits}} </td>
                        <td> {{ form.scheme4_benefits_other }} </td>
                    </tr>
                    <tr>
                        <td> {{ form.scheme5.label }} </td>
                        <td> {{ form.scheme5}} </td>
                        <td> {{ form.scheme5_received}} </td>
                        <td> {{ form.scheme5_benefits}} </td>
                        <td> {{ form.scheme5_benefits_other }} </td>
                    </tr>
<!--                    <tr>-->
<!--                        <th colspan="3" align="center"> Total </th>-->
<!--                    </tr>-->
                 </table>
            </div>
            {{ form.submit(class="btn btn-outline-info") }}
        </form>
    </div>
{% endblock content %}