<!DOCTYPE html>
<html lang="en">
<head>
	<title>Home</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href={{ url_for('static', filename='images/icons/favicon.png') }}/>
	<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}>
	<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}>
	<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='fonts/themify/themify-icons.css') }}>
	<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='fonts/Linearicons-Free-v1.0.0/icon-font.min.css') }}>
	<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='fonts/elegant-font/html-css/style.css') }}>
	<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/util.css') }}>
	<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/main.css') }}>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

	<style>
	.positive {
	  background-color: green;
	}
	.negative {
	  background-color: red;
	}
	</style>
	<script>
		$(document).ready(function() {
			var diff = $("#diff").text();
			$('#diff').html(diff).addClass(diff > 0 ? 'positive' : 'negative');
		});
	</script>
</head>
<body class="animsition">
<div class="col-xs-6 col-sm-6 col-md-4 col-lg-6">
	<div class="header1">
		<div class="container-menu-header">
			<div class="wrap_header">
				<div class="col-sm-3 col-md-3">
					<div>
						<a class="link" href="/admin">
							<img src='/static/images/logo.jpeg' style="width:150px;height:70px;">
						</a>
					</div>
				</div>
				<div class="col-sm-9 col-md-9">
					<div class="wrap_header">
						<div class="wrap_menu">
							<nav class="menu">
								<ul class="main_menu">
									<li>
										<a href="{{ url_for('admin') }}">Home</a>
									</li>
									<li>
										<a href="{{ url_for('addUser') }}">Add Participant</a>
									</li>
<!--									<li>-->
<!--										<a href="{{ url_for('addSchemes') }}">Scheme Benefits </a>-->
<!--									</li>-->
									<li>
										<a href="{{ url_for('logout') }}">Logout</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	{% block content %} {% endblock %}

	<script type="text/javascript" src={{url_for('static', filename='vendor/jquery/jquery-3.2.1.min.js')}}></script>
	<script type="text/javascript" src={{url_for('static', filename='vendor/animsition/js/animsition.min.js')}}></script>
	<script src={{url_for('static', filename='js/main.js')}}></script>

</body>
</html>
